body{
    background-color: bisque;
}
h1 {
    color: rgb(116, 38, 38);
    text-align: center;
}
.button{
    background-color: rgb(167, 167, 240);
    text-align: center;
    height: 50px;
}
.but{
    color:rgb(0, 0, 0);
    font-size: 30px;
    margin-top: 5px;
    margin-right: 10px;
}